<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.beatphobia.mkroom.mapper.QnaReplyMapper">


<!-- 특정 게시물에 대한 댓글 목록 조회 -->
<!-- <select id = "selectQnaReplyList" resultType = "com.beatphobia.mkroom.domain.qna.QnaReplyVO">
SELECT bno, rno, rcontent, rwriter, rRegDate, rModDate, REPLYORNOT ,prno, LEVEL AS lvl 
		FROM ( SELECT /*+ INDEX (a IDX_PK_QNA_REPLY) */ *
		       FROM mkroom.qna_Reply a
		       WHERE bno = #{bno} ) 
		START WITH prno IS NULL
		CONNECT BY PRIOR rno = prno 
		ORDER SIBLINGS BY rregDate 
</select> -->

<!-- 특정 게시물에 대한 댓글 목록 조회: 페이징 고려 -->

	<select id="selectQnaReplyList" resultType="com.beatphobia.mkroom.domain.qna.QnaReplyDTO">
	<![CDATA[
		SELECT bno, rno, rcontent, rwriter, rRegDate, rModDate, prno, lvl
	    FROM ( SELECT ROWNUM rn, lvl, bno, rno, rcontent, rwriter, rregDate, rmodDate, prno
       		   FROM ( SELECT LEVEL lvl, bno, rno, rcontent, rwriter, rregDate, rmodDate, prno
              		  FROM ( SELECT /*+ INDEX_ASC (a IDX_PK_QNA_REPLY) */ *
                     		 FROM mkroom.qna_Reply a
                     		 WHERE bno = #{bno} ) 
              		  START WITH prno IS NULL
              		  CONNECT BY PRIOR rno = prno
              		 )
        	   WHERE rownum <= #{pageNum} * #{rowAmountPerPage}
      		 )
		WHERE rn >= #{pageNum} * #{rowAmountPerPage}
		                 -(#{rowAmountPerPage} - 1)
	
	]]>
	</select>	

<!-- 댓글 총갯수 -->
<select id="selectReplyTotalCnt" resultType="long">
	SELECT COUNT(*) replyTotalCnt FROM mkroom.qna_Reply WHERE bno = #{bno}
</select>


<!-- 특정 게시물에 대한 댓글 등록-->
	<insert id="insertQnaReplyForBoard">
		<selectKey keyProperty="rno" order="BEFORE" resultType="long">
			SELECT mkroom.seq_qna_reply.nextval FROM dual
		</selectKey>
	INSERT INTO mkroom.qna_Reply
    VALUES (#{rno}, #{bno}, #{rcontent}, #{rwriter}, DEFAULT, DEFAULT, DEFAULT) 
		</insert>


<!-- 댓글에 대한 답글 등록-->
	<insert id="insertQnaReplyForReply">
		<selectKey keyProperty="rno" order="BEFORE" resultType="long">
			SELECT mkroom.seq_qna_reply.nextval FROM dual
		</selectKey>
		INSERT INTO mkroom.qna_Reply
		VALUES (#{rno}, #{bno}, #{rcontent}, #{rwriter}, DEFAULT, DEFAULT, #{prno} )
	</insert>


<!-- 특정 게시물에 대한 특정 댓글/답글 조회-->
	<select id="selectQnaReply" resultType="com.beatphobia.mkroom.domain.qna.QnaReplyDTO">
		SELECT rno, bno, rcontent, rwriter, rRegDate, rModDate, prno
		FROM mkroom.qna_Reply
		WHERE bno = #{bno} AND rno = #{rno}
	</select>	

<!-- 특정 게시물에 대한 특정 댓글/답글 수정 -->	
	<update id="updateQnaReply">
		UPDATE mkroom.qna_Reply
		SET rcontent = #{rcontent},
    		rmoddate = DEFAULT
		WHERE bno = #{bno} AND rno = #{rno} 
	
	</update>


<!-- 특정 게시물에 대한 특정 댓글/답글 삭제 -->
	<delete id="deleteQnaReply">
		DELETE FROM mkroom.qna_Reply WHERE bno = #{bno} AND rno = #{rno}
	</delete>

<!-- 게시물의 댓글 개수 수정: 댓글추가 시에 #{amount}에 1, 댓글삭제 시 #{amount}에 -1 이 각각 전달됨 -->
 <update id="updateBReplyCnt">
 UPDATE FROM mkroom.qna_Reply
 SET breplyCnt = breplyCnt + #{amount}
 WHERE bno = #{bno} AND bdelFlag = 0
 </update>

</mapper>